# Imports

In [1]:
import numpy as np
import pandas as pd

## Create a Series from Python Objects

In [6]:
mydata = [1776,1867,1821]
myind = ['USA','Canada','Mexico']

In [7]:
pd.Series(data=mydata)

0    1776
1    1867
2    1821
dtype: int64

In [8]:
pd.Series(data=mydata,index=myind)

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [10]:
rand_data = np.random.randint(0,100,4)

In [11]:
names = ['Adam','Bob','Charlie','David']

In [13]:
pd.Series(names,rand_data) #maintain the order

96       Adam
76        Bob
33    Charlie
53      David
dtype: object

In [15]:
myser = pd.Series(index = names,data=rand_data) #specifically define index and data

In [16]:
type(myser)

pandas.core.series.Series

##### From a Dictionary

In [17]:
d1 = {'Sammy':32,'Frank':10,'Matteo':81}
d1

{'Sammy': 32, 'Frank': 10, 'Matteo': 81}

In [18]:
pd.Series(d1)

Sammy     32
Frank     10
Matteo    81
dtype: int64

## Key Ideas

In [19]:
q1 = {"Japan":80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':210,'USA':260}

In [20]:
#convert into pandas series
rev_q1 = pd.Series(q1)
rev_q2 = pd.Series(q2)

In [21]:
rev_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [22]:
rev_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [23]:
rev_q1['India']

200

In [24]:
rev_q1[2]

/var/folders/wl/v3x3g82n3b38s3cvwvtr0r7h0000gn/T/ipykernel_2501/2508841654.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  rev_q1[2]

200

In [25]:
rev_q2[0]

/var/folders/wl/v3x3g82n3b38s3cvwvtr0r7h0000gn/T/ipykernel_2501/2418760855.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  rev_q2[0]

100

### Operations

In [26]:
rev_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [34]:
rev_q1+2

Japan     82
China    452
India    202
USA      252
dtype: int64

In [28]:
rev_q2/10

Brazil    10.0
China     50.0
India     21.0
USA       26.0
dtype: float64

In [29]:
#between Series

rev_q1 + rev_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [32]:
rev_q1.add(rev_q2, fill_value=0.5)

Brazil    100.5
China     950.0
India     410.0
Japan      80.5
USA       510.0
dtype: float64

In [35]:
#help(pd.Series)