In [1]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
for shreyas in lst1:
    print(shreyas)

1
2
3
4
5
6
7
8
9
10

In [3]:
17%5

2

In [6]:
13%2

1

In [9]:
for n in lst1:
    if n%2 == 0:
        print(n)

2
4
6
8
10

In [11]:
for n in lst1:
    if n%2 == 0:
        print(n)
    else:
        print(n,'-->> This is Odd number')

1 -->> This is Odd number
2
3 -->> This is Odd number
4
5 -->> This is Odd number
6
7 -->> This is Odd number
8
9 -->> This is Odd number
10

In [12]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
lst_sm = 0

for n in lst1:
    lst_sm = lst_sm + n
    print(lst_sm)

1
3
6
10
15
21
28
36
45
55

In [14]:
lst_sm = 0

for n in lst1:
    lst_sm = lst_sm + n
print(lst_sm)

55

In [17]:
for letter in ['This is string','Shreyas','Hello']:
    print(len(letter))

14
7
5

In [26]:
for letter in 'Hello':
    print(len('Shreyas'))

7
7
7
7
7

In [20]:
tup = (1,2,3,4,5)

for t in tup:
    print(t**3)

1
8
27
64
125

In [21]:
lst2 = [(2,4),(6,8),(10,12)]

In [22]:
for t in lst2:
    print(t)

(2, 4)
(6, 8)
(10, 12)

In [23]:
for t1,t2 in lst2:  #tuple unpacking
    print(t1)

2
6
10

In [25]:
for (t1,t2) in lst2:
    print(t1*t2)

8
48
120

In [31]:
d = {'k11':1,'k2':2,'k31111':3}
for i in d:
    print(i)

k11
k2
k31111

In [45]:
d.items()

dict_items([('k11', 1), ('k2', 2), ('k31111', 3)])

In [34]:
for k,v in d.items():
    print(len(k)*v)

3
4
18

In [41]:
x = 0
for i,j in d.items():
    x = len(i)*j + x
    print(x)

3
7
25

In [43]:
list(d.keys())

['k11', 'k2', 'k31111']

In [46]:
d.values()

dict_values([1, 2, 3])

In [53]:
st = 'Print every word in this sentence that has an even number of letters'

#word --> has an even length !!
#this --> has an even length !!

In [54]:
st.split()

['Print',
 'every',
 'word',
 'in',
 'this',
 'sentence',
 'that',
 'has',
 'an',
 'even',
 'number',
 'of',
 'letters']

In [59]:
for w in st.split():
    if len(w)%2 == 0:
        print(w+' --> this has an even length and the length is:', len(w))

word --> this has an even length and the length is: 4
in --> this has an even length and the length is: 2
this --> this has an even length and the length is: 4
sentence --> this has an even length and the length is: 8
that --> this has an even length and the length is: 4
an --> this has an even length and the length is: 2
even --> this has an even length and the length is: 4
number --> this has an even length and the length is: 6
of --> this has an even length and the length is: 2




write a program that prints the integers from 1 to 100. But for multiples of 3, print 'Shreyas' (your name), for multiple of 5, print 'Machine Learning. For numbers which are multiple of both 3 and 5, print '27 August'

In [65]:
for n in range(1,101):
    if n%3 == 0 and n%5 ==0:
        print('27 August')
    elif n%3 == 0:
        print('Shreyas')
    elif n%5 == 0:
        print('Machine Learning')
    else:
        print(n)

1
2
Shreyas
4
Machine Learning
Shreyas
7
8
Shreyas
Machine Learning
11
Shreyas
13
14
27 August
16
17
Shreyas
19
Machine Learning
Shreyas
22
23
Shreyas
Machine Learning
26
Shreyas
28
29
27 August
31
32
Shreyas
34
Machine Learning
Shreyas
37
38
Shreyas
Machine Learning
41
Shreyas
43
44
27 August
46
47
Shreyas
49
Machine Learning
Shreyas
52
53
Shreyas
Machine Learning
56
Shreyas
58
59
27 August
61
62
Shreyas
64
Machine Learning
Shreyas
67
68
Shreyas
Machine Learning
71
Shreyas
73
74
27 August
76
77
Shreyas
79
Machine Learning
Shreyas
82
83
Shreyas
Machine Learning
86
Shreyas
88
89
27 August
91
92
Shreyas
94
Machine Learning
Shreyas
97
98
Shreyas
Machine Learning

In [78]:
st = 'create a list of first letters of every word in this string'

In [77]:
lst5 = []
for s in st.split():
    lst5.append(s[0])
print(lst5)

['c', 'a', 'l', 'o', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [75]:
lst5

['c', 'a', 'l', 'o', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']